.frame-body {
  margin-left: 20%;
}

@media (max-width: 993px) {
  .frame-body {
    margin-left: 0px;
  }
}

.btn-main {
  margin: 10px 25px;
  font-size: 20px;
}

.item-banner {
  width: 100%;
  max-height: 120px;
}

.item-img {
  width:100%;
  margin-top:10px;
}
